.default_menu {
	background-image: url(../images/tabs.gif ) !important;
}

.achievement-folder {
	background-image: url(../images/folder_go.gif) !important;
}

.achievement-leaf {
	background-image: url(../images/cog.gif) !important;
}